<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Node.js express mongDB CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-info">
    <div class="d-flex vh-100 align-items-center justify-content-center">
        <div class="col-md-6 col-sm-6 p-4 rounded shadow m-3" style="background-color: #fff;">

<div class="mb-3 row d-flex align-items-center"><a class="btn btn-secondary col-md-6 mb-3 m-auto" href="/"><i class="fa fa-plus me-1"></i> Create New</a> <h3 class="col-md-6 mb-3 text-center">Employee List</h3>
    </div>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Update / Delete</th>
            </tr>
    <% list.forEach(function(datas){ %>     
    <tr>
        <td><%=datas.name%></td>
        <td><%= datas.mobile %></td>
        <td>
            <a href="<%=datas._id %>">Update</a>
            <span>/</span>
            <a href="/delete/<%=datas._id %>" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>

        </td>

    </tr>
<%  }) %>

        
</table>
        </div>
        </div>

</body>

</html>
